$var title = "关于我们"
<div>
  <div>
    <p><a href="http://snippet-code.com" style="font-weight:bold;color:#000;font-size:14px;text-decoration:none;">snippet-code.com</a> 是隶属于 <a href="http://www.code-trick.com" target="_blank" style="font-weight:bold;color:#000;">code-trick.com</a> 的旗下网站, 用于<b>分享代码</b>(可以给代码生成图片哦:)，<b>搜索代码</b> 的站点，并提供简单的<b>在线编程环境</b>，全功能的云端编程环境请访问同属于 <a href="http://www.code-trick.com" target="_blank" style="font-weight:bold;color:#000;">code-trick.com</a> 的旗下站点 <a href="http://www.cloud-coding.com" target="_blank" style="font-weight:bold;color:#000;">cloud-coding.com</a></p>
    <p>
      <b>本站点我们采取开放源代码的方式进行</b>，源码托管在github上，开放的内容包括我们的全部web部分代码，相关脚本以及在本项目产生的子开源项目，如: <b>分布式图片存储系统</b>、<b>面向文档的free schema的内置版本管理的NoSql存储系统</b>等。主项目地址为: <a href="https://github.com/Zimilo/snippet-code" target="_blank">https://github.com/Zimilo/snippet-code</a>
    </p>
    <p>
      <b>主要开发者与贡献者:</b> <br />
      &nbsp;&nbsp;&nbsp;&nbsp;<i><a href="mailto:zimilo@code-trick.com">Zimilo&lt;zimilo@code-trick.com&gt;</a></i> (core-devel)<br />
      &nbsp;&nbsp;&nbsp;&nbsp;<i><a href="mailto:neo@code-trick.com">Neo&lt;neo@code-trick.com&gt;</a></i> (core-devel)<br />
      &nbsp;&nbsp;&nbsp;&nbsp;<i><a href="mailto:khaki@code-trick.com">khaki&lt;khaki@code-trick.com&gt;</a></i> (core-devel)<br />
    </p>
    <p>
      本站点包括开源出来的子项目都接受互联网开发者的协同开发，具体适宜请联系 <a href="mailto:Zimilo@code-trick.com">Zimilo@code-trick.com</a> .
    </p>
  </div>
</div>
