$def with (post, comments)
$var title = post.title
<div>
  <div id="post-title">
    $post['title']
  </div>
  <div id="post-meta">
    本条目由 
      $if post['user_id'] == -1:
          Guest
      $else:
        <a href="/user/profile/$post.user['id']">
	      $post.user['nickname']
	      </a>
      在 $post['publish_time'] 发布 最后更新 $post['last_edit_time']
    语言类型 <a href="/search/lang=$post['lang']">$post['lang']</a> 
  </div>
  <div id="post-control">
    <a href="/post/like/$post['link']">赞+1</a>
    <a href="/${post['link']}.gif">生成图片</a>
    <!--<a href="javascript:show_embed_code('$post.link')">显示嵌入代码</a>-->
    $if ctx["UserID"] != -1 and ctx['UserID'] == post.user_id:
      <a href="/post/edit/$post['link']">编辑</a>
      <a href="/post/del/$post['link']">删除</a>
  </div>
  <div id="post-content">
    <pre><code class="$post['lang_type']">$post['content']</code></pre>
  </div>

  $for comment in comments:
    <div class="post-comment">
      <p class="post-comment-meta"><b>$comment.user_name</b> 于 <b>$comment.publish_time</b> 发表评论</p>
      <p class="post-comment-content">$comment.content</p>
    </div>

  <div id="post-comment-form">
    <form method="post" action="/comment/post">
    <input type="hidden" value="$post.link" name="post_link" />
    <table id="comment-form-table">
    <tr>
      $if ctx['UserID'] == -1:
        <td>
          昵称
        </td>
        <td>
          <input type="text" class="code-setting-input" name="user_name" />
        </td>
      $else:
        <td colspan="2">
          <i>当前已使用账户</i> <b>$ctx['UserName']</b> <i>登陆</i>, <a href="/user/logout">退出 ？</a>
          <input type="hidden" value="$ctx['UserName']" name="user_name" />
        </td>
    </tr>
    <tr>
      <td valign="top">内容</td>
      <td><textarea cols="93" rows="7" name="comment_content"></textarea></td>
    </tr>
    <tr>
      <td colspan="2"><input class="code-setting-submit" type="submit" value="发布评论" /></td>
    </tr>
    </table>
    </form>
  </div>
</div>
