<div>
  <form method="post">
    <fieldset>
      <legend>代码设置</legend>
      <div id="code-setting">
	<table>
	  <tr>
	    <td class="code-setting-left-td"><span class="code-setting-field">语言类型</span></td>
	    <td>
	      <span class="code-setting-field-value">
		<select>
		  <option>纯文本</option>
		  <option>PHP</option>
		  <option>Python</option>
		  <option>C/C++</option>
		</select>
	      </span>
	    </td>
	  </tr>
	</table>
      </div>
    </fieldset>
    <fieldset>
      <legend>代码正文</legend>
      <div id="code-body">
	<textarea cols="50" rows="15"></textarea>
      </div>
    </fieldset>
    <fieldset>
      <legend>发布设置</legend>
      <div id="code-publish">
	<table>
	  <tr>
	    <td class="code-setting-left-td"><span class="code-setting-field">标题</span></td>
	    <td>
	      <span class="code-setting-field-value">
		<input class="code-setting-input" type="text" value="未命名代码片段" />
	      </span>
	    </td>
	  </tr>
	  <tr>
	    <td class="code-setting-left-td"><span class="code-setting-field">查看权限</span></td>
	    <td>
	      <span class="code-setting-field-value">
		<select>
		  <option>完全公开</option>
		  <option>仅自己可见</option>
		</select>
	      </span>
	    </td>
	  </tr>
	  <tr>
	    <td class="code-setting-left-td"></td>
	    <td><span class="code-setting-field-value"><input class="code-setting-submit" type="submit" value="立即发布" /></span></td>
	  </tr>
	</table>
      </div>
    </fieldset>
  </form>
</div>
