<div>
  <div>
    <span style="color:#FC021C;">请确保您的浏览器支持HTML5, 推荐使用 Chrome, Firefox, Opera 等浏览器.</span>

  </div>
  <div>
     <p>请在下面的列表选择一种语言环境立即开始在线编程( 如想体验更强大的云端编程请访问 <a href="http://www.cloud-coding.com" style="font-weight:bold;color:#000;" target="_blank">cloud-coding</a> )</p>
  </div>
  <div>
    <p><a href="#" style="font-weight:bold;color:black;text-decoration:none">Python [暂未开放]</a></p>
    <p><a href="#" style="font-weight:bold;color:black;text-decoration:none">Javascript [暂未开放]</a></p>
  </div>
</div>
