$def with(content)
<!doctype html>
<html>
<head>
<title>贴代码|分享代码|代码搜索|评注代码</title>
<meta name="Keywords" content="贴代码，分享代码，代码搜索，评注代码" />
<meta name="Description" content="提供全面的贴代码，分享代码，代码搜索，评注代码的服务。" />
<link rel="stylesheet" type="text/css" href="/static/code.css" />
<link rel="stylesheet" href="/static/styles/default.css">
<script src="/static/highlight.pack.js" type="text/javascript"></script>
<script src="/static/jquery-1.7.1.min.js" type="text/javascript"></script>
<script src="/static/code.js" type="text/javascript"></script>
<script>hljs.initHighlightingOnLoad();</script>
</head>
<body>
<div id="admin-bar">
  <div class="quicklinks">
    <ul>
      <li id="admin-bar-my-account-with-avatar">
	$if ctx['UserID'] != -1:
	  <a href="/user/profile/$ctx['UserID']">
	$else:
	  <a href="/user/login">
	<img src="/static/images/default_avatar.jpeg" width="16" height="16" />  
	<span>$ctx['UserName']</span>
	</a>
      </li>
      $if ctx['UserID'] != -1:
        <li>
	  <a href="/user/logout">
	    <span>退出</span>
	  </a>
	</li>
      $else:
	<li>
	  <a href="/user/login">
	    <span>登陆</span>
	  </a>
	</li>
	

       $if ctx['UserID'] != -1:
	<li>
	  <a href="/post/my">
	    <span>我的代码片段</span>
	  </a>
	</li>
      <li>
	<a href="/post/add">
	  <span>新建代码片段</span>
	</a>
      </li>
      <li>
	<a href="/online_dev">
	  <span>在线编程</span>
	</a>
      </li>
      $if client.fullpath != '/':
        <li>
	  <a href="/">
	    <span>返回首页</span>
	  </a>
	</li>
    </ul>
  </div>
  <div id="admin-bar-search">
    <form action="/search" method="post">
      <input class="admin-bar-input" name="keywords" type="text" maxlength="150" />
      <input type="submit" class="admin-bar-button" value="搜索" />
    </form>
  </div>
</div>

<div id="page">
  <div class="page-tip"
       $if ctx['UserID'] != -1:
         style='display:none'
       >
    $if ctx['UserID'] == -1:
      <span>您当前尚未登陆，不能进行修改、删除、评论、评注代码等操作，立即 <a href="/user/login">登陆</a> 或 <a href="/user/reg">注册</a> 。</span>
  </div>
  <div id="page-main">
    $:content
  </div>
  <div id="page-footer">
    Copyright &copy; 2011 <a href="http://snippet-code.com">snippet-code.com</a><br />
    <a href="http://www.code-trick.com">code-trick.com</a> 旗下网站 基于 <a href="http://webpy.org">web.py</a> 开发<br />
    <a target="_blank" href="https://github.com/Zimilo/snippet-code">阅读本项目的源代码</a>
  </div>
</div>
<div style="display:none">
<script src="http://s24.cnzz.com/stat.php?id=3713923&web_id=3713923" language="JavaScript"></script>
</div>
</body>
</html>
