<div>
  <form method="post" action="/user/login">
    <fieldset>
      <legend>用户登陆面板</legend>
      <div id="user-panel">
	<table>
	  <tr>
	    <td class="user-panel-left-td">邮箱</td>
	    <td>
	      <span class="user-panel-field-value">
		<input type="text" name="account_email" class="user-panel-input" />
	      </span>
	    </td>
	  </tr>
	  <tr>
	    <td class="user-panel-left-td">密码</td>
	    <td>
	      <span class="user-panel-field-value">
		<input type="password" name="account_passwd" class="user-panel-input" />
	      </span>
	    </td>
	  </tr>
	  <tr>
	    <td class="user-panel-left-td"></td>
	    <td>
	      <span class="user-panel-field-value">
		<input type="submit" value="登陆" class="user-panel-submit" />
	      </span>
	    </td>
	  </tr>
	</table>
      </div>
    </fieldset>
  </form>
</div>
