<div>
  <form method="post" action="/user/reg">
    <fieldset>
      <legend>用户注册面板</legend>
      <div id="user-panel">
	<table>
	  <tr>
	    <td class="user-panel-left-td">邮箱</td>
	    <td>
	      <span class="user-panel-field-value">
		<input type="text" name="account_email" class="user-panel-input" />
	      </span>
	    </td>
	  </tr>
	  <tr>
	    <td class="user-panel-left-td">昵称</td>
	    <td>
	      <span class="user-panel-field-value">
		<input type="text" name="account_nickname" class="user-panel-input" />
	      </span>
	    </td>
	  </tr>
	  <tr>
	    <td class="user-panel-left-td">密码</td>
	    <td>
	      <span class="user-panel-field-value">
		<input type="password" name="account_passwd" class="user-panel-input" />
	      </span>
	    </td>
	  </tr>
	  <tr>
	    <td class="user-panel-left-td">确认密码</td>
	    <td>
	      <span class="user-panel-field-value">
		<input type="password" name="account_passwd_confirm" class="user-panel-input" />
	      </span>
	    </td>
	  </tr>
	  <tr>
	    <td class="user-panel-left-td"></td>
	    <td>
	      <span class="user-panel-field-value">
		<input type="submit" value="立即注册" class="user-panel-submit" />
	      </span>
	    </td>
	  </tr>
	</table>
      </div>
    </fieldset>
  </form>
</div>
